<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<a href="/">home();</a>
				<a href="/blog">projectBlog();</a>
			       	<a href="/about">about();</a>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="#">placeholder</a></li>
	        		<li><a href="#">placeholder</a></li>
				</ul>
			</footer>
		</body>
	</html>
