<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      var numQuestions = 100;
    </script>
    <title>aj's notes -- {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/anth1001">anth1001</a>
      <a href="/cs2333">cs2333</a>
      <a href="/phil1101">phil1101</a>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <footer>
      <small>
        copyright I guess?
      </small>
    </footer>
  </body>
</html>
